[submodule "mod/operator"]
	path = mod/operator
	url = https://github.com/canonical/operator
[submodule "mod/interface-ceph-client"]
	path = mod/interface-ceph-client
	url = https://github.com/gnuoy/oper-interface-ceph-client.git
[submodule "mod/ops-openstack"]
	path = mod/ops-openstack
	url = https://github.com/openstack-charmers/ops-openstack.git
[submodule "mod/charm-helpers"]
	path = mod/charm-helpers
	url = https://github.com/juju/charm-helpers.git
