# requirements
git+https://github.com/juju/charm-helpers.git@87fc7ee5#egg=charmhelpers
git+https://github.com/canonical/operator.git@169794cdd#egg=ops
git+https://github.com/openstack-charmers/ops-interface-ceph-client@cc10f29d4#egg=interface_ceph_client
git+https://github.com/openstack-charmers/ops-openstack@ea51b43e#egg=ops_openstack
git+https://github.com/openstack-charmers/ops-interface-tls-certificates@2ec41b60#egg=ca_client
